@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black;
}

/* Direct descendant (Line 1) / first line */
.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}

/* Direct descendant (Line 3) / third line */
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

/* Direct descendant (Line 2) / second line */
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

/* Navbar */
.navbar {
    @apply bg-white fixed z-[999];
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
}

.navbar-comp {
    @apply text-base font-medium py-2 px-4 mx-3 flex hover:text-sec transition duration-150 ease-in-out mb-3;
}

.social-media {
    @apply w-9 h-9 mr-3 rounded-full flex justify-center items-center border-2 transition duration-200 ease-in-out hover:bg-white hover:text-sec;
}

.tool {
    @apply w-9 h-9 mr-3 mb-3 flex justify-center items-center transition duration-100 ease-in-out hover:bg-white hover:text-sec;
}

.school-card{
    @apply overflow-hidden shadow-lg mb-10 px-3 bg-white py-3 rounded-tr-xl rounded-bl-xl;
}

.more {
    @apply text-base font-semibold text-white 
    bg-sec px-7 py-3 rounded-tr-lg rounded-bl-lg hover:shadow-lg hover:opacity-75 transition duration-300 ease-in-out;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    @apply bg-sec;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Typing animation */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2.5s steps(45, end),
    blink-caret .4s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.card {
  @apply bg-slate-800 flex flex-col items-center shadow-md text-white max-w-xl mx-auto rounded-none;
}

.card__name {
  @apply mt-4 text-2xl mb-2;
}

.card__image {
  @apply h-32 w-32 rounded-[50%] border-2 border-solid border-slate-900 mt-5;
  box-shadow: 0 10px 50px #240090;
}

.draw-border {
  color: white;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 3px;
  border-left-width: 3px;
}

.draw-border::after {
  border-top-width: 3px;
  border-right-width: 3px;
}

.draw-border:hover {
  color: white;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: white;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  @apply  bg-slate-700;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 600 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  @apply px-7 py-4 mb-5 text-center hover:bg-sec;
  letter-spacing: 0.05rem;
  width: 20rem;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #3800df, #240090);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  background: -webkit-linear-gradient(45deg, #ffff, #ffff);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

/* Global Styling */
.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

/* Image zoom on hover + Overlay colour */
.parent {
    @apply w-full rounded-md h-40 lg:h-60;
    margin: 20px;
    border: 3px solid #240090;
    overflow: hidden;
    position: relative;
    display: block;
    display: inline-block;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.child a {
  @apply underline md:text-xl sm:text-sm text-center m-auto absolute cursor-pointer top-0 bottom-0 right-0 left-0 h-10 hidden font-semibold text-white;
}

/* Several different images */
.bg-one {background-image: url('../dist/img/portfolio/2.png');}
.bg-two {background-image: url('../dist/img/portfolio/3.png');}
.bg-three {background-image: url('../dist/img/portfolio/6.png');}
.bg-four {background-image: url('../dist/img/portfolio/7.png');}
.bg-five {background-image: url('../dist/img/portfolio/8.png');}


.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20, 27, 33, 0.75);
}


.hello {display: none}